target/classes/pagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c00fd450-64f5-4e56-b9ae-4702d8274991" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="7d1dc9b1-3f9b-4d76-ae79-27afd5d88945" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2a409ba4-1d37-4a63-8599-690506aec996" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d9f7061a-44f1-4686-bc92-11e4aaee97ec" >
		<http:request-connection host="127.0.01" port="8093" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="cbed05cb-2003-4d0a-8abe-9c32b64e28d2" >
		<http:listener-connection host="0.0.0.0" port="8093" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="cd16f6ce-8cfb-4da1-b89e-aa29f2dbc607" file="properties/dev_config.yaml" />
	<flow name="paginationFlow" doc:id="800d8432-c107-4298-8a2f-f8330d87919b">
		<http:listener doc:name="Listener" doc:id="add9a3a4-cea2-43e7-b63a-838cd2ce6b16" config-ref="HTTP_Listener_config1" path="/http_obj"/>
		<os:retrieve doc:id="e84a4b1e-d92c-4649-93b5-bfd07f962485" key="objKey" target="objKey" objectStore="Object_store">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="d3dce8bb-1399-43d8-8a3c-92e765ccda28" message="#[payload]"/>
		<set-variable value="#[4 as Number]" doc:name="limit" doc:id="3437fb71-40bb-4193-b671-75deb6f44b8c" variableName="limit"/>
		<set-variable value="#[vars.offset default '0' as Number]" doc:name="offset" doc:id="cbfa4347-f7ca-4749-8c9b-8f0a8aab4db3" variableName="offset"/>
		<db:select doc:id="433d1d7f-83a7-4b22-a8cf-85a31c6c1e9e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from product
limit :limit offset :offset;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 
	'limit' :  vars.limit, 
	 offset :  vars.offset default 0 as Number
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="e2939466-aa04-452d-8fab-01f9434dbb84" >
			<when expression="#[sizeOf(payload) == 4]">
				<logger level="INFO" doc:name="Logger" doc:id="fc167445-c5dd-4c56-b2e6-4dce376a063a" message="payload"/>
				<os:store doc:name="Store" doc:id="76bbb94c-f0db-4101-9f6b-0ef460ea533a" key="objKey" objectStore="Object_store"/>
				<set-variable value="#[vars.offset + vars.limit]" doc:name="Set Variable" doc:id="e3ac67e2-22df-4604-ada4-8db33f9d6a85" variableName="offset"/>
				<set-variable value="payload" doc:name="payloadExp1" doc:id="da67c539-d353-46da-a4d4-72ec5b33b0d2" variableName="payloadExp1"/>
				<flow-ref doc:name="Flow Reference" doc:id="81e02b11-27a0-42e6-a24a-6c80967dd3bf" name="paginationFlow"/>
			</when>
			<when expression="#[vars.offset &lt; 4 and sizeOf(payload) &lt; 4]">
				<logger level="INFO" doc:name="Logger" doc:id="e802b884-657a-4780-b2d9-0b5ba25d56d7" />
				<set-variable value="payload" doc:name="payloadLess4" doc:id="d53ebf21-4e45-4b14-b30d-eba482829ddd" variableName="payloadLess4"/>
				<os:clear doc:name="Clear" doc:id="0c2491d9-8150-4c0d-bc3c-9c6849826299" objectStore="Object_store"/>
			</when>
			<otherwise >
				<os:clear doc:name="Clear" doc:id="be6b42ed-4492-4488-b6e1-388ed662168c" objectStore="Object_store"/>
				<logger level="INFO" doc:name="Logger" doc:id="6df6a482-d5fe-4c23-a15b-2855fd1512da" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="9ae241fe-4ee2-480f-ae61-b8619d8e8de7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"page 1": vars.payloadExp1,
	"page 2" : vars.payloadLess4
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5f0c9f7c-75e6-4bbd-a59c-805bd00204a1" message="#[payload]"/>
	</flow>
</mule>
